@use "src/sass/components/card";

@use "src/sass/base/typography";
@use "src/sass/base/colors";

.aboutLayout {
  @include card.cardColumnLayout;

  .aboutCard {
    @include card.card;

    .cardTitle {
      font-size: typography.$font-size-2xl;
      font-weight: typography.$font-weight-bold;
      line-height: typography.$line-height-default;

      color: colors.$primary-color;

      margin-bottom: 12px;
    }

    .markDownContainer {
      display: flex;
      flex-direction: column;
      gap: 2px;

      em {
        color: colors.$font-color-light;
      }

      ul,
      li {
        list-style-type: disc;
      }
      ul {
        padding-inline-start: 40px;
        display: flex;
        flex-direction: column;
        gap: 4px;
      }
      li a {
        text-decoration: underline;
        text-underline-offset: 0.2rem;
        &:hover {
          color: colors.$primary-color;
        }
      }
    }
  }
}
