@use "/src/sass/abstracts/variables";
@use "/src/sass/layout/breakpoint";
@use "/src/sass/base/colors";

.wrapContainer {
  max-width: variables.$page-max-width-pc;
  margin: 0 auto;

  @media (max-width: breakpoint.$mobile) {
    max-width: variables.$page-max-width-mobile;
  }
}
