@use "/src/sass/abstracts/variables";

@use "/src/sass/layout/header";
@use "/src/sass/layout/breakpoint";

.asideNavbar {
  .contentWrapper {
    position: fixed;
    top: header.$header-height;
    right: variables.$page-padding;
    padding: variables.$page-padding;

    @media (max-width: breakpoint.$mobile) {
      padding: variables.$page-padding-mobile;
      right: variables.$page-padding-mobile;
    }
  }
}
