@use "/src/sass/abstracts/variables";

@use "/src/sass/layout/header";
@use "/src/sass/layout/breakpoint";

.asideNavbar {
  position: fixed;
  top: header.$header-height;
  right: variables.$page-padding;

  @media (max-width: breakpoint.$mobile) {
    right: variables.$page-padding-mobile;
  }

  .contentWrapper {
    padding: variables.$page-padding;
    @media (max-width: breakpoint.$mobile) {
      padding: variables.$page-padding-mobile;
    }
  }
}
