@use "/src/sass/base/colors";
@use "/src/sass/base/typography";
@use "/src/sass/components/card";

.releaseCardArea {
  @include card.cardColumnLayout;

  .releaseCard {
    @include card.card;

    .titleArea {
      padding-bottom: 8px;
      border-bottom: 1px solid colors.$border-color-white-light;
      h1 {
        font-size: typography.$font-size-2xl;
        margin-bottom: 4px;
      }
    }
    h2 {
      margin: 8px 0;
      font-size: typography.$font-size-lg;
    }
    ul,
    li {
      list-style-type: disc;
    }
    ul {
      padding-inline-start: 40px;
    }
    a {
      text-decoration-line: underline;
      text-underline-offset: 0.2rem;

      color: colors.$primary-color;
      &:hover {
        em {
          color: colors.$primary-color;
        }
      }

      em {
        font-style: normal;
        color: colors.$font-color-light;
      }
    }
  }
}
