@use "/src/sass/base/colors";

$card-box-shadow: rgba(0, 0, 0, 0.05) 0 6px 20px;

@mixin cardColumnLayout {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@mixin card {
  padding: 12px;
  border-radius: 0.75rem;
  background-color: colors.$white-pure;
  box-shadow: $card-box-shadow;

  word-wrap: break-word;
  word-break: keep-all;
}
