@use "/src/sass/layout/header";
@use "/src/sass/base/typography";
@use "/src/sass/base/colors";
@use "/src/sass/base/animations";

.header {
  width: 100%;
  height: header.$header-height;

  box-sizing: border-box;
  padding: 8px;

  font-weight: typography.$font-weight-bold;
  font-size: typography.$font-size-lg;
  line-height: typography.$line-height-default;

  color: colors.$font-color-normal;

  border-bottom: 2px solid colors.$border-color-light;

  @include animations.hover-transition-color;

  .navContainer {
    width: 100%;

    .navItemList {
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .navItem {
        &:hover {
          color: colors.$font-color-light;
        }

        .linkItem {
          padding: 0 12px;
          display: block;
        }
      }
    }
  }
}
