.codeBlock {
  position: relative;

  &:hover {
    .clipboardContainer {
      opacity: 1;
    }
  }

  .clipboardContainer {
    position: absolute;
    top: 8px;
    right: 8px;

    opacity: 0;

    transition: all 0.25s ease-in-out;

    .clipboard {
      &:hover {
        background-color: rgba(175, 184, 193, 0.2);
      }
    }

    .clipboardHelpText {
      opacity: 0;

      margin-right: 8px;
      color: rgb(128, 128, 128);
      font-size: 1rem;

      &.copied {
        opacity: 1;
      }
    }
  }
}
