@use "/src/sass/base/colors";

html {
  scroll-behavior: smooth;
}

.hashAnchor {
  color: colors.$font-color-bold;

  &[href^="#"]::before {
    content: "#";
    color: colors.$font-color-light;
    text-decoration-line: none;
    display: inline-block;
    font-size: 0.7em;
    line-height: 1;
    margin-left: -0.8em;
    width: 0.8em;
    visibility: hidden;
  }
  &:hover {
    text-underline-offset: 0.2rem;
    text-decoration-line: underline;

    &[href^="#"]::before {
      visibility: visible;
    }
  }
}
