.mdImageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 8px;

  .mdImage {
    object-fit: cover;
  }
  .mdImageCaption {
    color: rgb(128, 128, 128);
    font-size: 1rem;
  }
}
